.edit-form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 20px auto 0;
  padding: 10px 0 9px;
  padding-left: 2px;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
}

.edit-form__input:focus {
  box-shadow: 1px 1px 1px 1px rgba(0, 195, 255, .3);
  border: white;
  outline: 2px solid rgb(0, 195, 255);
  border-radius: 2px;
}

.edit-form__input:first-of-type {
  margin-top: 0;
}